# Task 2: Data Preprocessing for Machine Learning – AI Bootcamp

Download Titanic Dataset here: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

#### About this file

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

## Section 1: Data Loading & Exploration

### **Task 1**: Load and Inspect a Dataset

*Instruction*: Load the `titanic.csv` dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head())
print(df.info())
print(df.describe())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

## Section 2: Handling Missing Values

### **Task 2**: Identify and Handle Missing Data

*Instruction*:



*   Display the number of missing values per column.
*   Fill missing `Age` values with the median.
*   Drop the second row in the dataset.

In [2]:
import pandas as pd

# Sample DataFrame with some missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, None, 22, 28, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'Houston']
}
df = pd.DataFrame(data)

# Step 3: Display the number of missing values per column
missing_values = df.isna().sum()
print("Missing values per column:")
print(missing_values)

# Step 4: Fill missing Age values with the median
median_age = df['Age'].median()  # Calculate median age
df['Age'].fillna(median_age, inplace=True)  # Fill missing values

# Step 5: Drop the second row of the dataset
df.drop(index=1, inplace=True)  # Drop the second row

# Step 6: Display the updated DataFrame
print("Updated DataFrame:")
print(df)

Missing values per column:
Name    0
Age     2
City    1
dtype: int64
Updated DataFrame:
      Name   Age      City
0    Alice  24.0  New York
2  Charlie  22.0      None
3    David  28.0   Chicago
4      Eve  24.0   Houston

<ipython-input-2-e88250be09fb>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)  # Fill missing values

## Section 3: Encoding Categorical Features

### **Task 3**: Convert Categorical to Numeric

*Instruction*: Convert `Sex` and `Pclass` columns to numeric using:


*   Label Encoding for `Sex`
*   One-Hot Encoding for `Pclass`

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame containing Sex and Pclass columns
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Sex': ['female', 'male', 'female', 'male', 'female'],
    'Pclass': ['1', '3', '2', '2', '1']
}
df = pd.DataFrame(data)

# Step 3: Label Encode the Sex column
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])  # Convert 'female' to 0 and 'male' to 1

# Step 4: One-Hot Encode the Pclass column
df = pd.get_dummies(df, columns=['Pclass'], prefix='Pclass', drop_first=True)  # Drop first to avoid multicollinearity

# Display the transformed DataFrame
print("Transformed DataFrame:")
print(df)

Transformed DataFrame:
      Name  Sex  Pclass_2  Pclass_3
0    Alice    0     False     False
1      Bob    1     False      True
2  Charlie    0      True     False
3    David    1      True     False
4      Eve    0     False     False

## Section 4: Feature Scaling

### **Task 4**: Scale Numerical Features

*Instruction*: Use StandardScaler to scale the Age and Fare columns.*italicized text*

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 35, 22, 28, 30],
    'Fare': [72.5, 100.0, 50.0, 75.0, 90.0]
}
df = pd.DataFrame(data)

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the Age and Fare columns
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

# Display the transformed DataFrame
print("Transformed DataFrame:")
print(df)

Transformed DataFrame:
      Name       Age      Fare
0    Alice -0.830019 -0.293610
1      Bob  1.572667  1.321245
2  Charlie -1.266871 -1.614856
3    David  0.043685 -0.146805
4      Eve  0.480537  0.734025

## Section 5: Feature Engineering

### **Task 5**: Build Preprocessing Pipeline

*Instruction*: Using `ColumnTransformer` and `Pipeline` from `sklearn`, build a pipeline that:



*   Imputes missing values
*   Scales numeric data
*   Encodes categorical data

In [2]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Sample DataFrame
data = {
    'Age': [24, 35, None, 28, 30],
    'Fare': [72.5, 100.0, 50.0, None, 90.0],
    'Sex': ['female', 'male', 'female', None, 'female'],
    'Pclass': [1, 3, 2, 2, 1]
}
df = pd.DataFrame(data)

# Define the numeric and categorical columns
numeric_features = ['Age', 'Fare']
categorical_features = ['Sex', 'Pclass']

# Define the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),  # Impute mean for numeric features
            ('scaler', StandardScaler())                  # Scale numeric features
        ]), numeric_features),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),  # Impute most frequent for categorical features
            ('onehot', OneHotEncoder(drop='first'))              # One-hot encode categorical features
        ]), categorical_features)
    ]
)

# Create the pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor)  # Apply the column transformations
])

# Fit and transform the data
transformed_data = pipeline.fit_transform(df)

# Display the transformed data
print("Transformed Data:")
print(transformed_data)

Transformed Data:
[[-1.48196327 -0.33120483  0.          0.          0.          0.        ]
 [ 1.62310263  1.28801879  1.          0.          0.          1.        ]
 [ 0.         -1.65602416  0.          0.          1.          0.        ]
 [-0.3528484   0.          0.          1.          1.          0.        ]
 [ 0.21170904  0.6992102   0.          0.          0.          0.        ]]

## Section 6: Feature Engineering

### **Task 6**: Create a New Feature

*Instruction*: Create a new feature `FamilySize` = `Siblings/Spouses Aboard` + `Parents/Children Aboard` + 1.

In [3]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Sample DataFrame
data = {
    'Age': [24, 35, None, 28, 30],
    'Fare': [72.5, 100.0, 50.0, None, 90.0],
    'Sex': ['female', 'male', 'female', None, 'female'],
    'Pclass': [1, 3, 2, 2, 1]
}
df = pd.DataFrame(data)

# Define the numeric and categorical columns
numeric_features = ['Age', 'Fare']
categorical_features = ['Sex', 'Pclass']

# Define the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),  # Impute mean for numeric features
            ('scaler', StandardScaler())                  # Scale numeric features
        ]), numeric_features),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),  # Impute most frequent for categorical features
            ('onehot', OneHotEncoder(drop='first'))              # One-hot encode categorical features
        ]), categorical_features)
    ]
)

# Create the pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor)  # Apply the column transformations
])

# Fit and transform the data
transformed_data = pipeline.fit_transform(df)

# Display the transformed data
print("Transformed Data:")
print(transformed_data)

Transformed Data:
[[-1.48196327 -0.33120483  0.          0.          0.          0.        ]
 [ 1.62310263  1.28801879  1.          0.          0.          1.        ]
 [ 0.         -1.65602416  0.          0.          1.          0.        ]
 [-0.3528484   0.          0.          1.          1.          0.        ]
 [ 0.21170904  0.6992102   0.          0.          0.          0.        ]]